#home
    background-color: #000
    .wid
        width: 858px
    .box
        background: -webkit-linear-gradient(#2096FE, #FD4766)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        font-weight: 400
        margin-bottom: 100px
        text-align: center
        h1
            font-weight: 700
            font-size: 120px
            color: #0e76cc
    .textbox
        text-align: center
        .icon
            i
                font-size: 45px
                color: rgba(253, 71, 102 ,1)
        h2
            font-weight: 500
            font-size: 27px
            color: #ffff
            margin: 20px 0
        p
            color: #bfbdbd
            font-size: 22px
    .big
        width: 273px
