#services
    background-color: #101010
    .box
        h3
            font-size: 18px
            background: -webkit-linear-gradient(#2096FE, #FD4766)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
